{
  "presets": [
    ["es2015", { "modules": false }]
  ],
  "plugins": [
    ["component", [
      {
        "libraryName": ["mint-ui", "element-ui"],
        "style": true,
        "styleLibraryName": "theme-default"
      }
    ]]
  ]
}